[submodule "Dependencies/pagedgeometry"]
	path = Dependencies/pagedgeometry
	url = https://github.com/OGRECave/ogre-pagedgeometry.git
[submodule "qtOgitor/QtPropertyBrowser"]
	path = qtOgitor/QtPropertyBrowser
	url = https://github.com/bazhenovc/QtPropertyBrowser.git
[submodule "Dependencies/caelum"]
	path = Dependencies/caelum
	url = https://github.com/OGRECave/ogre-caelum.git
